button {
  padding: 0.4rem;
  margin: 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.289);
  border-radius: 10%;
  background: #fff;
}

button:hover {
  background: #f8f8f8;
  cursor: pointer;
}

button.rounded {
  border-radius: 50%;
  display: flex;
  align-items: center;
  height: 1.5rem;
  width: 1.5rem;
}

button.square {
  padding: 0;
  width: 3em;
  height: 3em;
  line-height: 3em;
  text-align: center;
}