.appContainer {
  height: 100vh;
  overflow: auto;
}

.appContainer.modalOpen {
  overflow: hidden;
}

.todoList {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

h1 {
  display: flex;
  align-items: center;  
}