fieldset {
  position: fixed;
  top: 0;
  right: 0;
  margin: 10px 2% 0 0;
  /* make it a bit transparent */
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 0.8rem;
  min-width: 400px;
  padding: 0 30px;
}

fieldset legend {
  font-weight: bold;
  padding: 0 10px;
}