.modal {
  position: fixed;
  backdrop-filter: blur(2px);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.modalContent {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  width: 700px;
  z-index: 1000;
  animation: sizeAppear 0.2s ease-out;
}

@keyframes sizeAppear {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.5);
  }
  50% {
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    opacity: 1;
  }
}

.modalHeader {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modalClose {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;
  margin: 0;
  background-color: transparent;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.modalClose:hover {
  background-color: gainsboro;
}

.modalCloseIcon {
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  font-size: 20px;
}

.modalBody {
  padding: 20px 0 10px 0;
}

.modalBody > * {
  text-align: center;
}

.modalBody h1, .modalBody h2, .modalBody h3 {
  margin-bottom: 50px;
}

.modalBody .modalButtonsContainer {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 50px;
}

.cancelButton {
  background-color: #fff;
  border: 1px solid #d63031;
  color: #d63031;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.cancelButton:hover {
  background-color: #d63031;
  color: #fff;
}

.confirmButton {
  background-color: #fff;
  border: 1px solid #00b894;
  color: #00b894;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.confirmButton:hover {
  background-color: #00b894;
  color: #fff;
}